pre:before {
	content:" ";
	position:absolute;
	-webkit-border-radius:50%;
	border-radius:50%;
	background:#fc625d;
	width:12px;
	height:12px;
	left:20px;
	top:13px;
	margin-top:4px;
	-webkit-box-shadow:20px 0 #fdbc40,40px 0 #35cd4b;
	box-shadow:20px 0 #fdbc40,40px 0 #35cd4b;
	z-index:2
}
pre {
	background:#21252b;
	border-radius:5px;
	font:15px/22px"Microsoft YaHei",Arial,Sans-Serif;
	line-height:1.6;
	margin-bottom:1.6em;
	max-width:100%;
	overflow:auto;
	text-shadow:none;
	color:#000;
	box-shadow:0 10px 30px 0 rgba(0,0,0,.4)
}
pre code::-webkit-scrollbar {
	height:10x!important;
	width:10x!important;
	background-color:#1d1f21!important
}
pre code::-webkit-scrollbar-track {
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3)!important;
	border-radius:10px!important;
	background-color:#21252b!important
}
pre code::-webkit-scrollbar-thumb {
	border-radius:10px!important;
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.5)!important;
	background-color:#21252b!important
}
pre code {
	background:#1d1f21;
	color:#fff;
	word-break:break-word;
	font-family:'Source Code Pro',monospace,Helvetica,Tahoma,Arial,STXihei,"STHeiti Light","Microsoft YaHei",sans-serif;
	padding:2px;
	text-shadow:none;
	border-radius:0 0 5px 5px;
	cursor:auto;
	max-height:calc(100vh - 250px);
	overflow-y:scroll
}
pre code[data-rel]:before {
	color:#fff;
	content:attr(data-rel);
	height:38px;
	line-height:38px;
	background:#21252b;
	font-size:16px;
	position:absolute;
	margin-top:-45px;
	left:0;
	width:100%;
	font-family:Ubuntu,sans-serif;
	font-weight:700;
	text-indent:15px;
	text-align:center;
	float:left;
	z-index:1;
	border-radius:5px 5px 0 0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	pointer-events:none
}
.hljs-ln-line span::-moz-selection,.hljs-ln-line::-moz-selection {
	background:#fff;
	color:#21252b
}
.hljs-ln-line span::selection,.hljs-ln-line::selection {
	background:#fff;
	color:#21252b
}
.hljs {
	display:block;
	overflow-x:auto;
	padding:.5em;
	color:#abb2bf;
	background:#282c34
}
.hljs-comment,.hljs-quote {
	color:#5c6370;
	font-style:italic
}
.hljs-doctag,.hljs-formula,.hljs-keyword {
	color:#c678dd
}
.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst {
	color:#e06c75
}
.hljs-literal {
	color:#56b6c2
}
.hljs-addition,.hljs-attribute,.hljs-meta-string,.hljs-regexp,.hljs-string {
	color:#98c379
}
.hljs-built_in,.hljs-class .hljs-title {
	color:#e6c07b
}
.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable {
	color:#d19a66
}
.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title {
	color:#61aeee
}
.hljs-emphasis {
	font-style:italic
}
.hljs-strong {
	font-weight:700
}
.hljs-link {
	text-decoration:underline
}
.hljs-ln {
    margin:6px 0 0 0 !important
}
td.hljs-ln-numbers {
    display: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-align:center;
    color:#888f96;
    background:#1d1f21;
    font-family:'Source Code Pro', monospace, Helvetica, Tahoma, Arial, STXihei, "STHeiti Light", "Microsoft YaHei", sans-serif;
    vertical-align:top;
    position:absolute;
    left:0;
    width:30px
}
.hljs-ln-code .hljs-ln-line {
    margin-left:25px;
    padding-left:5px
}
.hljs-ln-code .hljs-ln-line:hover {
    background-color:rgba(255, 255, 255, .1)
}

@keyframes elastic {
    0% {
        transform:scale(0)
    }
    55% {
        transform:scale(1)
    }
    70% {
        transform:scale(.98)
    }
    100% {
        transform:scale(1)
    }
}
pre .content{
    width: 40%;
    margin: 5rem auto;
    position: relative;
}
#post-content .code-block-fullscreen{
    padding-top: 38px;
    position:fixed;
    width: 80vw;
    height: 80vh;
    min-height: 80vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index:9999999;    box-shadow: 0 0 20px 0 rgba(255,255,255,.4);
    animation:elastic 1s;
    overflow: hidden;
}
.code-block-fullscreen code {
    --widthA:100%;
    --widthB:calc(var(--widthA) - 30px);
    height:var(--widthB);
    min-height:99%;
    overflow-y:scroll;
    height:100%;
}
.code-block-fullscreen-html-scroll {
    overflow:hidden
}